.modal {
  position: relative;
  transition: all 0.4s ease-in-out;
  position: absolute;
  height: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: white;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  bottom: -300px;
  @extend .shadow3;
}

.modal.primary {
  width: 100%;
}

.modal.secondary {
  width: 70%;
}

.modal.primary.is-active {
  bottom: 0;
}

.modal.secondary.is-active {
  bottom: 0;
}

.modal__header__close {
  position: absolute;
  top: 20px;
  left: 15px;
}
