.session-view {
  outline: 1px solid black;
  height: 80vh;
}

.session-view__channel {
  height: 80vh;
}

.session-view__channel__pad {
  //
  border-radius: 5px;
  outline: 1px solid black;
  height: 20vh;

  @extend .tac;
}
