// Session View

.session-view-wrapper {
  height: 80vh;
  width: 100%;
  outline: 1px solid black;
}

.session-view {
  height: calc(80vh - 10px);
  width: calc(100% - 10px);
}

.session-view__channel__item-wrapper {
  height: 20vh;
  width: 100%;
}

.session-view__channel__item {
  height: calc(20vh - 10px);
  width: calc(100% - 10px);
  border-radius: 5px;
  background: white;
  @extend .tac;
  @extend .shadow3;
}
