// Track Bar

.track-bar {
  height: 20vh;
  padding: 4px;
}

.track-bar__item {
  //
}

// Channel Trigger Button

.track-bar__item__modal-trigger-wrapper {
  height: 20vh;
  padding: 4px;
}

.track-bar__item__modal-trigger {
  border-radius: 5px;
  background: black;
  color: white;
  height: 100%;
  @extend .tac;
}

// Channel Modal Content

.track-bar__item__modal__row {
  @extend .pa2;
  @extend .mb2;
  @extend .shadow2;
}

.track-bar__item__modal.is-active {
  display: block;
  opacity: 1;
}
