// Track Bar

.track-bar-wrapper {
  height: 20vh;
  width: 100%;
}

.track-bar {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.track-bar__item {
  position: relative;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-radius: 5px;
  background: black;
  color: white;
  @extend .shadow3;
}

.track-bar__item__text {
  position: absolute;
  bottom: 8px;
  left: 8px;
  @extend .t-primary;
  @extend .f6;
  @extend .f5-md;
  @extend .bold;
}

// Channel Modal Content

.track-bar__item__modal__row {
  @extend .pa2;
  @extend .mb2;
  @extend .shadow2;
}

.track-bar__item__modal.is-active {
  display: block;
  opacity: 1;
}
