.track-bar {
  height: 20vh;
  padding: 4px;
}

.track-bar__item {
  //
}

// Trigger Button

.track-bar__item__modal-trigger-wrapper {
  height: 20vh;
  padding: 4px;
}

.track-bar__item__modal-trigger {
  border-radius: 5px;
  background: black;
  color: white;
  height: 100%;
  @extend .tac;
}

// Modal Content

.track-bar__item__modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: grey;
  color: white;
  display: none;
  opacity: 0;
}

.track-bar__item__modal__row {
  // outline: 1px solid black;
}

.track-bar__item__modal__row > div {
}

.track-bar__item__modal.is-active {
  display: block;
  opacity: 1;
}
