@import "./styles/vendor/normalize";
// @import 'vendor/flickity';

@function vh($quantity) {
@return calc(var(--vh, 1vh) * #{$quantity});
}

@import "./styles/functions";
@import "./styles/mixins";
@import "./styles/vars";
@import "./styles/utilities";

@import "./styles/modules/modal";
@import "./styles/modules/session-view";
@import "./styles/modules/track-bar";
@import "./styles/modules/settings";

// .session__track-bar {
//   overflow-x: auto;
// }

.vh-transition {
  transition: height .3s ease-in-out;
}


.App {
height: vh(100);
@extend .vh-transition;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  height: vh(100);

}

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 55px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 17px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//

.device-orientation-message {
  display: none;
}
@media only screen and (orientation: portrait) {
  html,
  body,
  .App {
    background-color: palette(white);
  }
  .App {
    display: none;
  }
  .device-orientation-message {
    width: 100vw;
    height: vh(100);
    display: flex;
  }
}
@media only screen and (orientation: landscape) {
  html,
  body,
  .App {
    background-color: palette(white);
  }
  .device-orientation-message {
    display: none;
  }
}

// utilities
// @import 'utilities/*';

// elements
// @import 'elements/header';
// @import 'elements/page';
// @import 'elements/richtext';
// @import 'elements/section';
//
// // components
// @import 'components/accordion';
// @import 'components/banner';
// @import 'components/blockquote';
// @import 'components/button';
// @import 'components/card/default';
// @import 'components/card/horizontal';
// @import 'components/carousel';
// @import 'components/form/index';
// @import 'components/grid';
// @import 'components/hero';
// @import 'components/juicer';
// @import 'components/modal';
// @import 'components/notify';
// @import 'components/revealfx';
// @import 'components/tabs';
// @import 'components/video-embed';
