@import "./styles/vendor/normalize";
// @import 'vendor/flickity';

@import "./styles/functions";
@import "./styles/mixins";
@import "./styles/vars";
@import "./styles/utilities";

@import "./styles/modules/modal";
@import "./styles/modules/session-view";
@import "./styles/modules/track-bar";

.session__track-bar {
  background-image: url("https://ak1.picdn.net/shutterstock/videos/12194321/thumb/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

// utilities
// @import 'utilities/*';

// elements
// @import 'elements/header';
// @import 'elements/page';
// @import 'elements/richtext';
// @import 'elements/section';
//
// // components
// @import 'components/accordion';
// @import 'components/banner';
// @import 'components/blockquote';
// @import 'components/button';
// @import 'components/card/default';
// @import 'components/card/horizontal';
// @import 'components/carousel';
// @import 'components/form/index';
// @import 'components/grid';
// @import 'components/hero';
// @import 'components/juicer';
// @import 'components/modal';
// @import 'components/notify';
// @import 'components/revealfx';
// @import 'components/tabs';
// @import 'components/video-embed';
