@import 'vendor/normalize';
// @import 'vendor/flickity';

@import './styles/functions';
@import './styles/mixins';
@import './styles/vars';
@import './styles/utilities';

html, body {margin: 0; height: 100%; overflow: hidden}

// session-view
.session-view {
  border: 1px solid black;

  .channel {
    padding: 3px;

    .sample-pad-wrapper {
      padding: 3px;

      .sample-pad {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
      }
    }
  }
}

// track-bar

.track-bar {
    padding: 3px;

  .channel-manager-wrapper {
    padding: 3px;

    .channel-manager-trigger {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
      background: black;
      color: white;
    }

    .track-manager-modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background-color: grey;
      color: white;
      display: none;
      opacity: 0;

      .track-manager-modal__row {
        padding: 10px;
      }
    }

    .track-manager-modal.is-active {
      display: block;
      opacity: 1;
    }
  }
}


// utilities
// @import 'utilities/*';

// elements
// @import 'elements/header';
// @import 'elements/page';
// @import 'elements/richtext';
// @import 'elements/section';
//
// // components
// @import 'components/accordion';
// @import 'components/banner';
// @import 'components/blockquote';
// @import 'components/button';
// @import 'components/card/default';
// @import 'components/card/horizontal';
// @import 'components/carousel';
// @import 'components/form/index';
// @import 'components/grid';
// @import 'components/hero';
// @import 'components/juicer';
// @import 'components/modal';
// @import 'components/notify';
// @import 'components/revealfx';
// @import 'components/tabs';
// @import 'components/video-embed';
